h1 {
  color: rgb(255, 187, 0);
}

.green-background {
  background-color: green;
}

.red-background {
  background-color: red;
}

.black-background {
  background-color: black;
  color: white;
}

.white-background {
  background-color: white;
  color: black;
}

#green {
  color: white;
  background-color: black;
}

#green:hover {
  color: red;
  background-color: green;
}

#red {
  color: white;
  background-color: black;
}

#red:hover {
  color: green;
  background-color: red;
}

#black  {
  color: white;
  background-color: black;
}

#black:hover {
  color: black;
  background-color: white;
}

#white  {
  color: white;
  background-color: black;
}

#white:hover {
  color: black;
  background-color: white;
}

.gr-btn {
  color: red;
}

.rd-btn {
  color: green;
}

.blk-btn {
  color: white;
}

.wht-btn {
  color: black;
}